/hypr/hyprland/overrides.conf
/hypr/scheme/current.conf
/hypr/hyprlock.conf

/spicetify/config-xpui.ini
/spicetify/Themes/caelestia/color.ini

/btop/btop.log
/btop/themes/

/fish/fish_variables

/vscode/*
!/vscode/User/settings.json
!/vscode/User/keybindings.json
!/vscode/caelestia-vscode-integration/
