/* Background buttons, main play/pause button and progress bar */
.encore-bright-accent-set,
.encore-inverted-light-set,
.x-progressBar-fillColor {
    background-color: var(--spice-button-active) !important;
}

/* Left sidebar search button */
.x-filterBox-expandButton {
    border-radius: 1000px !important;
}

/* Queue and recently played right sidebar buttons */
.encore-text-body-small-bold {
    border-radius: 10px !important;
}

/* Hover animations for buttons, tracklist and context menu */
button,
.main-trackList-trackListRow,
.main-contextMenu-menuItemButton {
    transition: color 200ms cubic-bezier(0, 0.55, 0.45, 1), background-color 200ms cubic-bezier(0, 0.55, 0.45, 1) !important;
}

/* Search bar and dropdown */
.main-topBar-searchBar,
#recent-searches-dropdown > div {
    background-color: var(--spice-main-elevated) !important;
}
